* {
  box-sizing: border-box;
}

html,
body {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  overflow-x: hidden;
}

.wrap {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 24px;
  padding: 24px 16px;
}

.logo {
  width: 320px;
  object-fit: contain;
}

.count {
  width: 280px;
  height: 160px;

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 75px;
  font-weight: 900;

  color: white;

  transition: 0.2s;
}

.danger {
  color: #ff3b3b;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.button-row {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 12px;
}

button {
  height: 54px;

  border: none;
  border-radius: 14px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  opacity: 0.9;
}

.plus {
  background: white;
  color: black;
}

.minus {
  background: white;
  color: black;
}

.reset {
  width: 548px;
  background: white;
  color: black;
}

.excel {
  width: 548px;
  background: #10b981;
  color: white;
}

@media (max-width: 650px) {
  .logo {
    width: 240px;
  }

  .count {
    width: 240px;
    height: 140px;
    font-size: 61px;
  }

  .button-row {
    grid-template-columns: repeat(5, 58px);
    gap: 8px;
  }

  button {
    height: 54px;
    font-size: 18px;
  }

  .reset,
  .excel {
    width: 322px;
  }
}